#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#include "zmk-helpers/helper.h"

#include "hummingbird/layout.h"
#include "common.h"

#include "hummingbird/combo.h"
#include "hummingbird/A1.h"
#include "hummingbird/A2.h"
#include "hummingbird/B1.h"
#include "hummingbird/B2.h"
#include "hummingbird/C1.h"
#include "hummingbird/C2.h"
#include "hummingbird/D1.h"
#include "hummingbird/E1.h"
